---
import Layout from "@/components/layouts/main.astro";
import SurahCard from "@/components/common/surah-card.astro";
import { ALQURAN_DATAS } from "@/constants/quran";
import type { WithContext, WebPage, CreativeWork } from "schema-dts";
---

<Layout
  title="Al-Quran"
  description="Baca Al-Quran"
  className="py-8 px-4 sm:px-6 lg:px-8"
  schema={{
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    name: "Al-Quran",
    description: "Baca Al-Quran dan pilih surah yang ingin Anda baca",
    url: `${process.env.DOMAIN}/quran`,
    mainEntity: ALQURAN_DATAS.map<CreativeWork>((surah) => ({
      "@type": "CreativeWork",
      name: surah.name,
      position: surah.number,
      url: `${process.env.DOMAIN}/quran/${surah.number}`,
      description: `Surah ke-${surah.number} dengan ${surah.number_of_ayah} ayat`,
    })),
  } as WithContext<WebPage>}
  metadatas={[
    {
      tag: "meta",
      name: "keywords",
      content:
        "Al-Qur'an, Surah, Baca Quran, Terjemahan Quran, Mushaf Digital, Quran Bahasa Indonesia",
    },
    { tag: "meta", name: "author", content: "QuranSite Team" },
    { tag: "meta", property: "og:type", content: "website" },
    {
      tag: "meta",
      property: "og:title",
      content: "Al-Qur’an – Baca dan Pelajari",
    },
    {
      tag: "meta",
      property: "og:description",
      content:
        "Pilih dari 114 surah Al-Qur'an lengkap dengan terjemahan dan audio.",
    },
    {
      tag: "meta",
      property: "og:url",
      content: `${process.env.DOMAIN}/quran`,
    },
    { tag: "meta", name: "twitter:card", content: "summary_large_image" },
    {
      tag: "meta",
      name: "twitter:title",
      content: "Al-Qur’an – Baca dan Pelajari",
    },
    {
      tag: "meta",
      name: "twitter:description",
      content:
        "Pilih dari 114 surah Al-Qur'an lengkap dengan terjemahan dan audio.",
    },
    { tag: "link", rel: "canonical", href: `${process.env.DOMAIN}/quran` },
  ]}
>
  <div class="container mx-auto">
    <hgroup class="mb-8">
      <h1 class="text-3xl font-bold text-foreground mb-2">Al-Quran</h1>
      <p class="text-muted-foreground">Pilih surah yang ingin Anda baca</p>
    </hgroup>

    <!-- Surah List -->
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        ALQURAN_DATAS.map((surah) => (
          <SurahCard data={surah} href={`/quran/${surah.number}`} />
        ))
      }
    </section>
  </div>
</Layout>
