---
import type { HadithData } from "@/interfaces/global";
import { Card, CardContent, CardHeader, CardTitle } from "../ui/card";
import CopyBtn from "./copy-btn";
import ShareBtn from "./share-btn";

export interface Props {
  data: HadithData;
  name: string;
}

const { data, name } = Astro.props;
---

<Card
  as="article"
  className="bg-card border border-border rounded-lg p-6 space-y-4 my-6"
  id={`hadist ${data.number}`}
>
  {/* Header */}
  <CardHeader className="flex items-start justify-between">
    <div class="flex-1">
      <div class="flex items-center space-x-3 mb-2">
        <CardTitle as="h3" className="text-lg font-semibold text-foreground">
          {name} #{data.number}
        </CardTitle>
      </div>
    </div>

    <div class="flex items-center space-x-2 justify-between gap-2">
      <CopyBtn
        variant="ghost"
        textToCopy={`${data.arab}\n\n${data.id}\n\n- ${name} #${data.number}`}
        className="p-2 text-muted-foreground hover:text-foreground transition-colors"
        client:only
      />
      <ShareBtn
        variant="ghost"
        text={`${data.id}\n\n- ${name} #${data.number}`}
        url={`${process.env.DOMAIN}/hadith/${name}#${data.number}`}
        title={`Hadith ${name} #${data.number}`}
        client:only
      />
    </div>
  </CardHeader>

  {/* Content */}
  <CardContent
    className="space-y-4 text-base sm:text-lg leading-relaxed sm:leading-loose"
  >
    <div class="text-right" dir="rtl">
      <p
        class="text-xl sm:text-2xl leading-loose font-amiri text-foreground tracking-wide border-b border-border pb-4"
      >
        {data.arab}
      </p>
    </div>

    <div class="border-t border-border pt-4">
      <p
        class="text-muted-foreground text-sm sm:text-base leading-relaxed sm:leading-loose border-b border-border pb-4"
      >
        {data.id}
      </p>
    </div>
  </CardContent>
</Card>
